[
    {enodeman,
        [
            {web_port, 8080},
            {node_metrics_update_interval, 1000},
            {processes_update_interval, 1000},
            {node_metrics, ['memory.total', 'process_count']},
            {procs_metrics_spec,
                [
                    {current_function, "Currently running function", undefined},
                    {initial_call, "Initial function", undefined},
                    {status, "Status", undefined},
                    {message_queue_len, "Message queue length", undefined},
                    {messages, "Messages list", undefined},
                    {links, "Linked processes", undefined},
                    {dictionary, "Process dictionary", undefined},
                    {priority, "Process priority", undefined},
                    {reductions, "Process reductions", undefined},
                    {memory, "Total memory", undefined},
                    {backtrace, "Backtrace", undefined}
                ]
            },
            {default_nodes,
                [
                    {'enodeman@127.0.0.1', ''}
                ]
            }
        ]
    }
].
